.wrapper {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.wrapper h2 {
  background-color: #cd6133;
  color: white;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
}

form h4 {
  padding-bottom: 5px;
}

.input-group {
  position: relative;
  display: flex;
}

.input-box {
  width: 100%;
  position: relative;
  margin-bottom: 8px;
}

.name {
  padding: 14px 10px 14px 50px;
  width: 100%;
  background-color: #fcfcfc;
  border: 1px solid #00000033;
  outline: none;
  letter-spacing: 1px;
  transition: 0.3s;
  border-radius: 3px;
  color: #333;
}

.name:focus,
.dob:focus {
  -webkit-box-shadow: 0 0 2px 1px rgb(39, 171, 228);
  -moz-box-shadow: 0 0 2px 1px rgb(39, 171, 228);
  box-shadow: 0 0 2px 1px rgb(39, 171, 228);
  border: 1px solid #34ace0;
}

.input-box .icon {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  color: #333;
  background-color: #f0eaea;
  border-radius: 2px 0 0 2px;
  transition: 0.3s;
  font-size: 20px;
  pointer-events: none;
  border: 1px solid #00000033;
  border-right: none;
}

.name:focus + .icon {
  background-color: #34ace0;
  color: #fff;
  border-right: 1px solid #34ace0;
  border: none;
  transition: 0.7s;
}

.dob {
  width: 30%;
  padding: 14px;
  text-align: center;
  background-color: #fcfcfc;
  transition: 0.3s;
  outline: none;
  border: 1px solid #c0bfbf;
  border-radius: 3px;
}

.radio {
  display: none;
}

.input-box label {
  width: 50%;
  padding: 13px;
  background-color: #fcfcfc;
  display: inline-block;
  /* float: left; */
  text-align: center;
  border: 1px solid #c0bfbf;
}

.input-box label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
}

.input-box label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.radio:checked + label {
  background-color: #34ace0;
  color: #fff;
  transition: 0.5s;
}

.input-box select {
  display: inline-block;
  width: 50%;
  padding: 12px;
  background-color: #fcfcfc;
  text-align: center;
  font-size: 16px;
  outline: none;
  border: 1px solid #c0bfbf;
  cursor: pointer;
  transition: all 0.2s ease;
}

.input-box select:focus {
  text-align: center;
}

.input-box button {
  width: 100%;
  background: transparent;
  border: none;
  background-color: #34ace0;
  color: #fff;
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.35s ease;
}

.input-box button:hover {
  background-color: white;
  color: #1c1f23;
  border: 1px solid #34ace0;
}

.input-box button:focus {
  outline: none;
}
